<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CCAvenue Payment Gateway
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CCAvenue Payment Gateway</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Make Payment :: {{status}}</strong><br/>
    <ion-button (click)="initPayment()">Initiate Payment</ion-button>
  </div>
</ion-content>
